# Virtual Environment
venv/
.venv/
env/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
backend/.env
backend/media/

# Frontend / Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.agents/

