# Database
DB_NAME=ecommerce_db
DB_USER=ecommerce_user
DB_PASSWORD=pass
DB_HOST=127.0.0.1
DB_PORT=3307

# Django
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Optional: CORS
CORS_ORIGIN_ALLOW_ALL=True